body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 100px;
}

.choice{
    padding: 50px;
    text-align: center;
}